{% extends "layout.html" %}

{% block title %}Web Hacking{% endblock %}

{% block content %}

{{super()}}

<h1>SQL Injection (SQLI) - Challenge 1</h1>

<h3>Can you login as the admin?</h3>

<button onclick="showHide()">Show Hint</button>

<div id="chall-hint" style="display: none">
    SQL injection can occur when a user input is treated as SQL code, rather than as text. You can use a basic injection technique to bypass this login form. Try to provoke an error if you're stuck, this will tell you you're on the right track. And try multiple different SQL syntaxes.
</div>

<h4>Admins Login Here</h4>
<form action='/login' method='POST'>
  <label for="username">Username:</label>
  <input name='username'></input>
  <label for="password">Password:</label>
  <input name='password'></input>
  <input type='submit' value='Login'>
</form>

{% endblock %}

{% block footer %}

{{super()}}

{% endblock %}