{% extends "layout.html" %}

{% block title %}Web Hacking{% endblock %}

{% block content %}

{{super()}}

<h1>Cross-Site Scripting (XSS) - Challenge 1</h1>

<h3>Can you cause this webpage to pop up an alert?</h3>

<button onclick="showHide()">Show Hint</button>

<div id="chall-hint" style="display: none">
    XSS occurs when user input isn't handled properly. You can use it to force to webpage to run javascript code. Try looking for somewhere on this page where you can input data and look up the javascript syntax for an alert.
</div> 

{% if order %}

<p>You successfully ordered {{quantity | safe}} {{flavour}} cookies!</p>

{% else %}

<h4>Order Cookies</h4>

<form action="/xss1">
    <label for="flavour">Flavour:</label>
    <input type="text" name="flavour" id="flavour">

    <label for="points">Quantity:</label>
    <input type="number" id="quantity" name="quantity" step="1">
    <input type="submit" value="Submit Order">
</form>

{% endif %}

{% endblock %}

{% block footer %}

{{super()}}

{% endblock %}