{% extends "layout.html" %}

{% block title %}Web Hacking{% endblock %}

{% block content %}

{{super()}}

<h1>Cross-Site Scripting (XSS) - Challenge 2</h1>

<h3>Can you cause an alert using stored XSS?</h3>

<button onclick="showHide()">Show Hint</button>

<div id="chall-hint" style="display: none">
    Some XSS payloads are delivered in the URL, but some are stored permanently in a database.
</div>

<h4>Post a comment about our society :)</h4>

<form action="/xss2/comment" method="POST">
    <label for="comment">Your Comment:</label>
    <input type="text" name="comment" id="comment">

    <input type="submit" value="Submit Comment">
</form>

{% if comments is defined %}

<h3>Comments</h3>
{% for comment in comments %}
<div class="comment">
    <p>DB ID: {{ comment["id"] }}</p>
    <p>Comment: {{ comment["comment"] | safe}}</p>
    <p>User ID: {{ comment["userid"] }}</p>
</div>
{% endfor %}

{% endif %}

{% endblock %}

{% block footer %}

{{super()}}

{% endblock %}